:root {
  font-size: 16px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  
  /*background colors*/
  --bgclr-1: #000000;
  --bgclr-2: #060019;
  --bgclr-3: #1a002d;
  --bgclr-4: #5f013e;

  /*track colors*/
  --trckclr-1: #000000;
  --trckclr-2: #242424; 
  --trckclr-3: #484848;

  /*pertentages*/
  --pdgbr: 6rem;

  scroll-behavior: smooth;  

  border: 2px solid rgb(255, 255, 255);
  height: 100vh;
}

/* Background */
body{
  color: rgb(255, 255, 255);
  background: linear-gradient(var(--bgclr-1),
  var(--bgclr-2),
  var(--bgclr-3),
  var(--bgclr-4));
  background-repeat: no-repeat;
  margin: 0;
}

/* The box in the center of the page */
.centerbox{
  border-right: 2px solid white;
  border-left: 2px solid white;
  background: var(--bgclr-1);
  margin-left: 21rem;
  height: 100vh;
  width: 36rem;
  overflow: hidden;
}

/* Center items for the box in the middle of the page */
#centerboxitems{
  margin-left: 6.5rem;
  align-items: center;
}

/*stylization of the scrollbar*/
::-webkit-scrollbar {
  width: .50rem;
}

::-webkit-scrollbar-track {
    background-color: var(--trckclr-1)
}

  ::-webkit-scrollbar-thumb {
  background-color: var(--trckclr-2);
}

	


	